# Gemini API 密钥(可选,其他选项见下方)
GOOGLE_GENERATIVE_AI_API_KEY="insert-secret-key-here"

# Anthropic API 密钥(可选,其他选项见上方/下方)
ANTHROPIC_API_KEY="insert-secret-key-here"

# OpenAI API 密钥(可选,其他选项见上方)
OPENAI_API_KEY="insert-secret-key-here"
